<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
  </head>
  <body> 
    <link type="text/css" rel="stylesheet" href="pages.css.scss" />
 <div class="header">
   <div class="container">
  <ul class="nav">
    <li><a href="welcome">Welcome</a></li>
    <li><a href="about">About</a></li>
    <li><a href="contact">Contact</a></li>
    <li><a href="details">Details</a></li>
     </ul>
    </div>
  </div>
    <div class="contact">
      <a href="facebook.com"><img src="http://bloggingwizard.adamconnell1.netdna-cdn.com/wp-content/themes/tribe/images/icons/facebook.png" height="50px" width="50px"/></a>
      <a href="twitter.com"><img src="http://cdn2.business2community.com/wp-content/uploads/2014/11/543c477e9547e.jpg.jpg" height="50px" width="50px"/></a>
      </div>
  </body>
</html>