// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main 
{
background:url(http://s3.amazonaws.com/codecademy-blog/assets/puppy-main_zps26d178c5.jpg);
background-size:cover;
height:800px;
}
.nav{
	list-style-type:none;
	margin:0;
	padding:20px;
}

.nav li{
	color:black;
	display:inline;
	font-family:'Raleway', sans-serif;
	font-weight:600;
	font-size:12px;
	margin-right:25px;
	text-transform:uppercase;
}